<div class="container-fluid vh-100">
    <div class="row h-100" >
      <!-- Columna izquierda -->
      <div class="col-md-6 d-flex flex-column" style="padding: 0px;" >
        <app-patient class="flex-fill overflow-auto"></app-patient>
      </div>
  
      <!-- Columna derecha -->
      <div class="col-md-6 d-flex flex-column">
        <app-patient-list class="flex-fill overflow-auto"></app-patient-list>
      </div>
      <app-footer class="bg-light text-center text-lg-start mt-auto py-3"></app-footer>
    </div>
  </div>
