<div class="container mt-3">
  <!-- Formulario de Creación de Paciente -->
  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      <strong>{{operacion}} Paciente</strong>  
    </div>
    <div class="card-body">
      <form [formGroup]="patientForm" (ngSubmit)="createPatient()">
        <div class="row">
          <!-- Nombre -->
          <div class="col-md-6 mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="Ingrese el nombre">
          </div>

          <!-- Apellido -->
          <div class="col-md-6 mb-3">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="Ingrese el apellido">
          </div>
        </div>

        <div class="row">
          <!-- DNI -->
          <div class="col-md-6 mb-3">
            <label for="dni" class="form-label">DNI</label>
            <input type="number" id="dni" class="form-control" formControlName="dni" placeholder="Ingrese el DNI">
          </div>

          <!-- Email -->
          <div class="col-md-6 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ingrese el email">
          </div>
        </div>

        <div class="row">
          <!-- Teléfono -->
          <div class="col-md-6 mb-3">
            <label for="phone" class="form-label">Teléfono</label>
            <input type="number" id="phone" class="form-control" formControlName="phone" placeholder="Ingrese el teléfono">
          </div>
        </div>

        <!-- Botones de Acción -->
        <div class="row mt-4">
          <div class="col-lg-6 text-center">
            <button routerLink="/" type="button" class="btn btn-secondary w-100">Volver</button>
          </div>
          <div class="col-lg-6 text-center mt-2 mt-lg-0">
            <button type="submit" class="btn btn-success w-100" [disabled]="!patientForm.valid">Aceptar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
